@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
.Portfolio{
    
}
.navbar{
    background-color: #171717;
    height: 86px;
    width: 1510px;
    border-radius: 50px;
    
}
.navbutton{
   display: flex;
   justify-content: space-around;
   padding-top: 10px;
}
.Home{
    background-color: #FD853A;
    color: white;
    border: 1px solid #FD853A;
    border-radius: 60px;
    height: 66px;
    width: 136px;
    font-size: large;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.Home:hover{
    background-color: #171717;
    border: 1px solid white;
    color: white;
}
.button{
    width: 139px;
    height: 66px;
    border-radius: 60px;
    border: 1px solid #171717;
    background-color: #171717;
    color: white;
    font-size: large;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.button:hover{
    border: 1px solid white;
}
.JCREALogo{
    height: 86px;
    width: 307px;
    display: flex;
    justify-content: center;
}
.JCREA{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.Hello{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.Hello1{
    border: 2px solid #171717;
    background-color: white;
    color: black;
    border-radius: 38.24px;
    height: 45px;
    width: 103.98px;
    font-size: large;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.DesignerJenny{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
span{
    color: #FD853A;
}
.JennyInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 125px;
}
.JennyPicture img{
    height: 636px;
    width: 952.4px;
}
.JennyDescription{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgb(43, 50, 57);
}
.JennyExperince{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.JennyExperince .Tenyears{
    display: flex;
    justify-content: right;
}
.JennyExperince .Experince{
    display: flex;
    justify-content: right;
}
.CheckOrHire{
    width: 367px;
    height: 82px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(600px,-130px);
    background: rgb(191,191,191);
background: linear-gradient(90deg, rgba(191,191,191,1) 0%, rgba(166,166,166,0.14898459383753504) 100%, rgba(0,212,255,1) 100%);
}
.WebPortfolio{
    background-color: #FD853A;
    border: #FD853A;
    border-radius: 60px;
    width: 208px;
    height: 62px;
    color: white;
    font-size: large;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.HireMe{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: 129px;
    height: 54px;
    border-radius: 60px;
    border: none;
    color: white;
    font-size: large;
    background: rgb(191,191,191);
    background: linear-gradient(90deg, rgba(191,191,191,1) 0%, rgba(166,166,166,0.14898459383753504) 100%, rgba(0,212,255,1) 100%);
}
.Service{
    width: 1510px;
    height: 828px;
    border-radius: 24px;
    background: rgb(255,215,50);
background: radial-gradient(circle, rgba(255,215,50,1) 0%, rgba(250,198,102,1) 98%, rgba(240,240,240,1) 100%);
}
.ServiceDescription{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 125px;
    padding-right: 125px;
}
.ServiceDescription h4{
    color: white;
}
.ServiceDescription h2{
    color: white;
}
.uxuidesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    gap: 10px;
}
.uxuidesign img{
    width: 416px;
    height: 508px;
    border-radius: 50px;
}
.WorkExperinceDescription{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: center;
}
.LocationAndJob{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: space-around;
}
.location h2{
    color: #171717;
}
.location h4{
    color: rgb(69, 69, 69);
}
.Job h2{
    color: #171717;
}
.Job h4{
    color: rgb(69, 69, 69);
}
.WhyHireMe{
    display: flex;
    flex-direction: row;
}
.WhyHireMePicture img{
    width: 603px;
    height: 600px;
}
.WhyHireMeDescription{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.Project{
    display: flex;
    justify-content: space-between;
}
.HireButton{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 233px;
    height: 108px;
    border-radius: 32px;
    font-size: x-large;
    margin-top: 30px;
}
.LookAtPortfolio{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #171717;
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
}
.SeeAll{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: 144px;
    height: 66px;
    border-radius: 60px;
    background-color: #FD853A;
    border: none;
    color: white;
    font-size: large;
    margin-right: 120px;
}
.Lirante{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.Lirante img{
    width: 633px;
    height: 371px;
}
.MorePages{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.PortfolioPages{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #171717;
    background-color: rgb(239, 239, 239);
    border: none;
    width: 193px;
    height: 54px;
    border-radius: 24px;
}
.LiranteFood{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #171717;
    display: flex;
    flex-direction: column;
    text-align: center;
}