@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.itemcard{
    width: 300px;
    border: 1px solid grey;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    box-shadow: -2px 0px 15px 3px rgba(184,184,184,0.75);
-webkit-box-shadow: -2px 0px 15px 3px rgba(184,184,184,0.75);
-moz-box-shadow: -2px 0px 15px 3px rgba(184,184,184,0.75);
}
.itemcard .profileimage img
{
    width: 300px;
}
.info{
    padding-left: 5px;
    padding-bottom: 8px;
}
.pplyk{
    color: grey;
}
.addone{
    background-color: rgb(108, 108, 255);
    border: 1px solid rgb(108, 108, 255);
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 40px;
}