.Itemcard{
    display: flex;
    flex-direction: column;
}
.FirstVideo{
    display: flex;
    flex-direction: row;
}
.Thumbnail
{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.Thumbnail img{
    width: 250px;
}
.Title{
    padding-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Description{
    color: grey;
}
