@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
h2{
    color: black;
    font-family: 'Raleway', sans-serif;
}
h4{
    color: grey;
    font-family: 'Raleway', sans-serif;
}
.a1{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(245, 245, 245);
    color: black;
    border-radius: 10px;
    border: 1px solid rgb(245, 245, 245);
    width: 200px;
    height: 35px;
}
.a1:hover{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(213, 213, 213);
    transition: 0.3s;
}
a{
    color: black;
    font-family: 'Raleway', sans-serif;
}